.login-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 400px;
}

.login {
  /* background-color: rgba(0, 0, 0, 0.493); */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px #6594b18a;
  color: rgba(19, 19, 19);
  width: 100%;
  max-height: 600px;
  overflow-y: scroll;
}
.login img {
  width: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: 0.4s;
  display: inline-block;
}
.login img:hover {
  transform: translateY(-2px);
}
/* .login h1 {
  color: rgb(229, 229, 229);
} */
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  position: relative;
}
.login h1 {
  margin-top: 10px;
  color: #191919;
  text-shadow: 1px 1px 1px #191919;
}
.input-container {
  position: relative;
  display: flex;
  margin: 10px;
  width: 100%;
  margin: auto;
}
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  /* color: rgb(229, 229, 229); */
  border-bottom: 2px solid #1919197a;
  &::placeholder {
    /* color: rgba(229, 229, 229, 0.685); */
    color: #191919af;
  }
}
.input-field:focus {
  &::placeholder {
    color: transparent;
  }
}
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: #cccccc00;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #191919ad;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -12px;
  font-size: 14px;
  color: #191919af;
  left: 5px;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.login button,
.register button {
  color: rgb(229, 229, 229);
  background-color: #3698d5;
  text-shadow: 1px 1px 1px #000000;
  padding: 10px;
  margin: auto;
  width: 100%;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.4s;
}

.login button:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}

.login .already {
  color: rgba(17, 17, 17, 0.8);
}
.login .already a {
  color: rgb(22, 21, 21);
  transition: 0.5s;
  display: inline-block;
}
.login .already a:hover {
  /* color: rgb(229, 229, 229, 0.8); */
  transform: translateY(-5px);
}
.login .errorMsg {
  color: red;
  margin-top: 15px;
  display: block;
  font-size: 17.5px;
  font-weight: 500;
}

.register {
  background-color: rgba(240, 240, 240, 0.671);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.register h1 {
  margin: 0;
  margin-bottom: 20px;
}
.register form {
  width: 100%;
}
.register .input-field {
  color: rgb(19, 19, 19);
  border-bottom: 2px solid rgba(19, 19, 19, 0.363);
  &::placeholder {
    color: rgba(19, 19, 19, 0.74);
  }
}
.register .input-field:focus {
  &::placeholder {
    color: transparent;
  }
}
.register .input-field:focus + .input-label {
  color: rgba(7, 7, 7, 0.87);
}
.register .input-highlight {
  background-color: black;
}
.register button {
  margin-top: 0;
  background-color: rgb(19, 19, 19);
  color: rgb(229, 229, 229);
  transition: 0.3s;
}
.register button:hover {
  scale: 1.03;
  transform: translateY(-2px);
}
