@import url(./Navbar.css);
@import url(./settingSVG.css);
@import url(./Home.css);
@import url(./LoginRegister.css);
@import url(./Dashboard.css);
@import url(./DashboardIdeas.css);
@import url(./Loader.css);
@import url(./DashboardBlog.css);
@import url(./DashboardProfile.css);